.rtl {
    direction: rtl;
}

.ltr{
    direction: ltr;
}

body.vscode-light {
    color: black;
}

body.vscode-dark {
    color: white;
}

body.vscode-high-contrast {
    color: red;
}